.DS_Store
__pycache__/
*.py[cod]
cache/
teste_cookie.epub
docx_capitulos/
Traduzidos/
*.log
zhenhunxiaoshuo/output/
zhenhunxiaoshuo/manipulacao_json/output/
zhenhunxiaoshuo/producao_epub/output/
zhenhunxiaoshuo/README_UPDATE.md
